{% load static%}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Linkagro{% endblock %}</title>
    
    <!-- Incluindo o CSS -->
    {% comment %} Externos {% endcomment %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    {% comment %} Fim Externos {% endcomment %}
    
    {% block css %}{% endblock css %} 
    <link rel="stylesheet" href="{% static 'css/utils.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/styles_card_categ.css' %}"> {% endcomment %}
    
    <!-- Você pode adicionar mais arquivos CSS aqui -->

</head>

<body>
    
    <main>
        {% block content %}{% endblock content %}
    </main>

    {% include 'includes/footer.html' %}

    <!-- Incluindo o JS -->
    {% block js %}{% endblock js %} 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/script.js' %}" defer></script>
    {% comment %} <script src="{% static 'js/cursor.js' %}" ></script> {% endcomment %}
    <!-- Você pode adicionar mais arquivos JS aqui -->
    
</body>
</html>
