/* Máximo de 480px → Aplica-se a celulares pequenos. */
@media only screen and (max-width: 480px) {
    body {
      background-color: lightblue;
    }

    .navbar-subnav{
        display: none !important;
    }
}


/* Entre 481px e 768px → Aplica-se a celulares grandes e tablets pequenos. */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    body {
      background-color: lightgreen;
    }
    
    .navbar-subnav{
        display: none !important;
    }
}

/* 🔹 Entre 769px e 1024px → Aplica-se a tablets grandes e laptops pequenos. */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    body {
      background-color: lightcoral;
    }
}




