<!--footer area start-->
<footer class="">
    <div class="footer-widgets py-3">
        
        <div class="footer-top container">
            <div class="container py-2">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widgets_container contact_us">
                           <div class="footer_logo text-white ">
                                <a class="text-dark navbar-brand" href="{% url 'linkagro_home' %}">
                                    <svg width="40" height="40" viewBox="0 0 40 40">
                                        <path fill="#FFD700" d="M20 0L0 20l20 20 20-20L20 0zm0 6.364L33.636 20 20 33.636 6.364 20 20 6.364zM12.5 15a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zm15 10a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0z"/>
                                    </svg>
                                    Linkagro
                                </a>
                           </div>
                            <p><span>Address:</span> Cidade de Maputo</p>
                            <p><span>Email:</span> <a href="#">linkagro@gmail.com</a></p>
                            <p><span>Contacto:</span> <a href="tel:(08)23456789">(+258) 87 36 86 545</a> </p>
                        </div>          
                    </div>
                    <div class="col-md-4">
                        <div class="widgets_container widget_menu">
                            <h3 class="text-primary">Informações</h3>
                            <div class="footer_menu text-white">
                            
                                <ul class="m-0 p-0 ps-2">
                                    <li><a href="about.html">Sobre nós</a></li>
                                    <li><a href="#">Informações de entrega</a></li>
                                    <li><a href="#"> Politivas de Privacidades</a></li>
                                    <li><a href="#"> Termos & Condições</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="widgets_container widget_menu">
                            <h3 class="text-primary">Nossas Plataformas</h3>
                            <div class="footer_menu text-white">
                            
                                <ul class="ps-2">
                                    <li><a href="about.html">Facebook</a></li>
                                    <li><a href="#">www.linkagro.co.mz</a></li>
                                    <li><a href="contact.html"> Contacte-nos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>

        <div class="footer-bottoms">
            <div class="container">
                <div class="row ">
                    <div class="col-12 text-center pt-2">
                        <div class="d-flex align-items-center justify-content-center">
                            <p>Copyright  © 2025  <a href="#">Linkagro</a>  . Todos Os Direitos Reservados.Design by  <a href="#">Gildo 4Services</a></p>
                        </div>
                    </div>    
                    
                </div>
            </div>
        </div>

    </div>   
</footer>
<!--footer area end-->