<!-- Navbar Glassmorphism -->
<header class="sticky-top" id="navbar">
    <div class="header container animate__animated animate__zoomIn">
        <nav class="navbar navbar-expand-md pt-0 mt-0">
            <div class="container">
                <!-- brand -->
                <a class="navbar-brand  d-flex align-items-center text-gradient me-5 gap-2" href="{% url 'linkagro_home' %}">
                    <svg width="40" height="40" viewBox="0 0 40 40">
                        <path fill="#FFD700" d="M20 0L0 20l20 20 20-20L20 0zm0 6.364L33.636 20 20 33.636 6.364 20 20 6.364zM12.5 15a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zm15 10a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0z"/>
                    </svg>
                    Linkagro
                </a>

                <div class="navbar-subnav d-none d-md-block">
                    <div class="navbar-subnav-content pt-3 ">
                        <!-- Pesquisa -->
                        <div class="px-5 animate__animated " id="area-pesquisa">
                            <div class="navbar-search-wrapper py-1 mb-2">
                                <form action="{% url 'linkagro_pesquisa' %}" method="get">
                                    <div class="input-group">
                                        <button class="navbar-btn-submit input-group-text bg-transparent border-0" type="submit"><i class="fa fa-search text-white"></i></button>
                                        <input type="search" class="form-control navbar-search-input" name="q" id="q" placeholder="pesquisar produto...">
                                        <button id="navbar-btn-closed" class=" input-group-text bg-transparent border-0"><i class="fa fa-arrow-right text-warning"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                        <ul class="navbar-subnav-menu animate__animated pt-1" id="area-navegacao">
                            <li class="navbar-subnav-item {{activo_home}} ">
                                <a class="navbar-subnav-link d-flex text-nowrap" href="{% url 'linkagro_home' %}">
                                    Página inicial
                                </a>
                            </li>
                            <li class="navbar-subnav-item d-none">
                                <a class="navbar-subnav-link {{activo_noticia }}" href="{% url 'linkagro_noticias' %}">Notíciais </a>
                            </li>
                            <li class="navbar-subnav-item">
                                <a class="navbar-subnav-link {{activo_anuncie_aqui }}" href="{% url 'linkagro_anuncie_aqui' %}"> Anuncie aqui </a>
                            </li>
                            <li class="navbar-subnav-item ">
                                <a class="navbar-subnav-link {{activo_como_funciona }}" href="{% url 'linkagro_como_funciona' %}"> Como funciona? </a>
                            </li>
                            
                        </ul>
                    </div>
                </div>

    
                <!-- Autenticacao -->
                <div class="navbar-usuario m-0 p-0">
                    <ul class="navbar-usuario-nav mx-0">
                        <!-- ao clicar quero que ao ser clicado abra o search -->
                        <li class="navbar-usuario-nav-item  d-none d-md-flx" id="btn-search-close">
                            <span class="navbar-usuario-nav-link px-2">
                                <i class="fa fa-search"></i>
                            </span>
                        </li>
    
                        <li class="navbar-usuario-nav-item dropdown d-none d-md-block">
                            <span class="dropdown-toggle navbar-usuario-nav-link px-2 " id="userDropdown" role="button" data-bs-toggle="dropdown"  aria-expanded="true">
                                <i class="fa fa-user"></i>
                            </span>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                                <li><a class="dropdown-item" href="#"><i class="fas fa-user-circle"></i> Cadastro</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fas fa-fa-user-check"></i> Login</a></li>
                            </ul>
                        </li>
                        
                        <li class="navbar-usuario-nav-item d-md-none d-flex" id="abrir-menu">
                            <span class="navbar-usuario-nav-link px-2">
                                <i class="fa fa-bars"></i>
                            </span>
                        </li>
                    </ul>
                </div>
    
            </div>
    
        </nav>
    </div>
</header>



