<section class="menu-navegacao-mobile shadow animate__animated" id="menu-navegacao-mobile">
    <div class="menu-navegacao-content container">
        <div class="menu-navegacao-header p-2 border-bottom">
            <section class="sessao-titulo">
                <h1>Configurações</h1>
            </section>
            
            <button id="btn-close-menu" class="btn-close-menu rounded-3 btn bg-linkagro "><i class="fa fa-arrow-right"></i></button>
        </div>

        <div class="menu-navegacao-body py-2">
            <ul class="navbar-subnav-menu animate__animated pt-1 gap-2" id="area-navegacao">
                <li class="navbar-subnav-item {{activo_home}} mb-2">
                    <a class="navbar-subnav-link d-flex text-nowrap" href="{% url 'linkagro_home' %}">
                        Página inicial
                    </a>
                </li>
                <li class="navbar-subnav-item d-none mb-2">
                    <a class="navbar-subnav-link {{activo_noticia }}" href="{% url 'linkagro_noticias' %}">Notíciais </a>
                </li>
                <li class="navbar-subnav-item mb-2">
                    <a class="navbar-subnav-link {{activo_anuncie_aqui }}" href="{% url 'linkagro_anuncie_aqui' %}"> Anuncie aqui </a>
                </li>
                <li class="navbar-subnav-item mb-2">
                    <a class="navbar-subnav-link {{activo_como_funciona }}" href="{% url 'linkagro_como_funciona' %}"> Como funciona? </a>
                </li>
                
            </ul>

        </div>
        <div class="menu-navegacao-footer border-top p-2">
            <ul class="nav d-flex justify-content-around">
                <li class="nav-item"><span>Termos de uso</span></li>
                <li class="nav-item"><span>Condições de uso</span></li>
                <li class="nav-item"><span>Gildo Nhamirre</span></li>

            </ul>
        </div>
    </div>
</section>