<section class="menu-navegacao-mobile shadow animate__animated" id="menu-navegacao-mobile">
    <div class="menu-navegacao-content container">
        <div class="menu-navegacao-header p-2 border-bottom">
            <section class="sessao-titulo">
                <h1>Configurações</h1>
            </section>
            
            <button id="btn-close-menu" class="btn-close-menu py-2 px-3"><i class="fa fa-arrow-right"></i></button>
        </div>

        <div class="menu-navegacao-body p-2">
            <h1>Body</h1>
        </div>
        <div class="menu-navegacao-footer border-top p-2">
            <ul class="nav d-flex justify-content-around">
                <li class="nav-item"><span>Termos de uso</span></li>
                <li class="nav-item"><span>Condições de uso</span></li>
                <li class="nav-item"><span>Gildo Nhamirre</span></li>

            </ul>
        </div>
    </div>
</section>