@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Manuale:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-dark: #1A4D2E;
    --primary-main: #2E6C35;
    --bs-form-select-bg-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    --primary-light: #4CAF50;
    --accent-yellow: rgb(255, 217, 0,0.1);
    --glass-bg: rgba(255, 255, 255, 0.1);
    --backgroud: linear-gradient(135deg, #c1dfc4 0%, #a3c9a7 100%);
    --verde-vivo: #3D9970;
    --terra: #B5651D;
    --amarelo-energetico: #FFD700;
    --degradê-vertical: linear-gradient(180deg, #3D9970 0%, #2A6E4F 100%);
    --degradê-horizontal: linear-gradient(90deg, #3D9970 0%, #B5651D 100%);
    --sombra-intensa: 0 8px 32px rgba(0, 0, 0, 0.2);
    --verde-principal: #2E7D32;  /* Verde Floresta */
    --verde-secundario: #66BB6A; /* Verde Folha */
    --verde-claro: #A5D6A7;      /* Verde Claro */
    --fundo-suave: #F1F8E9;      /* Verde Suave */
    --amarelo-destaque: #FFC107; /* Amarelo Milho */
    --marrom-terra: #6D4C41;     /* Marrom Terra */
    --bege-suave: #D7CCC8;       /* Bege */
    --vermelho-tomate: #D32F2F;  /* Vermelho Tomate */
    --laranja-abobora: #FF9800;  /* Laranja Abóbora */
    --branco-puro: #FFFFFF;      /* Branco */
    --azul-claro: #b8d3ec;
    --verde-vibrante: #36d17e;
    --preto-fundo: #1a0f14;
    --branco-claro: #e3f2fd;
}


/* Configuracoes Gerais */
body{
    font-family: "Crimson Text", serif;
    background: var(--fundo-suave);
    margin: 0;
    padding: 0;
    color: var(--verde-vivo);
}

.limite-texto-1 {
     overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limita a 2 linhas */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}


.limite-text-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limita a 2 linhas */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}


.filtro-linkagro{
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.limite-texto-3 {
    
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limita a 2 linhas */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}


.limite-texto-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limita a 2 linhas */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}

.limite-texto-5 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Limita a 2 linhas */
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}


.ts-wrapper .ts-control{
    display: flex !important;
    flex-wrap: nowrap !important;
    width: 100%;
}

.ts-wrapper .ts-control .item{
    display: flex !important;
    flex-wrap: nowrap !important;
    width: 100%;
}


.ts-wrapper .ts-dropdown.single{
    z-index: 9999 !important;
}

.ts-wrapper .ts-dropdown.single .ts-dropdown-content {
    z-index: 9999 !important;
    
}



.z-index-1{
    z-index: -1 !important;
}

.z-index-0{
    z-index: 0 !important;
}


.text-gradient {
    font-weight: bold;
    background: linear-gradient(45deg, white, white,white, #FFD700, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.text-primary-linkagro{
    color: var(--verde-vivo);
}

.bg-linkagro{
    background: linear-gradient(45deg, #3D9970, #FFA000) !important; 
}

.bg-linkagro h1,.bg-linkagro h2,.bg-linkagro h3,.bg-linkagro h4,.bg-linkagro h5,.bg-linkagro h6{
    color: white !important;
}

.action-primary-linkagro{
    background: var(--verde-vivo);
    transition: all 0.3s ease-in-out;
    width: 100%;
    border-radius: 2rem;
}

.action-primary-linkagro:hover{
    background: linear-gradient(45deg, #3D9970, #FFA000);
    transform: scale(1.05);
}

a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}


/* Customizando o elemento select */
.linkagro-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--branco-puro);
    background-color: var(--verde-vivo);
    border: none;
    background-image: var(--bs-form-select-bg-img);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border-bottom: 0.1rem solid var(--verde-vibrante);
    border-radius: 0.375rem;
    cursor: pointer;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Efeito de hover */
.linkagro-select:hover {
    border-color: var(--verde-vivo);
    box-shadow: none;
    outline: none;
}

/* Efeito de foco */
.linkagro-select:focus {
    border-color: var(--verde-vivo);
    outline: none;
    box-shadow: none;
}

/* Efeito para select múltiplo */
.linkagro-select[multiple], .linkagro-select[size]:not([size="1"]) {
    padding-right: 0.75rem;
    background-image: none;
}

/* Efeito para select desabilitado */
.linkagro-select:disabled {
    background-color: var(--bs-form-control-disabled-bg);
}

/* Foco em navegadores antigos */
.linkagro-select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 var(--bs-body-color);
}

.linkagro-text-titulo{
    font-weight: bold;
    background: linear-gradient(45deg,  #FFD700, #FFD700, var(--verde-vivo), var(--verde-vivo));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

/* Customizing input fields */
input, textarea {
    background-color: var(--glass-bg);
    color: #fff;
    border: 1px solid var(--verde-vivo);
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s ease, border 0.3s ease;
}

input:focus, textarea:focus {
    outline: none;
    border: 1px solid var(--amarelo-energetico);
    background-color: rgba(255, 255, 255, 0.2);
}


/* Styling links */
a {
    text-decoration: none;
}

/* Configuracoes Gerais ============================= */



/* Navbar */
header{
    position: relative;
    width: 100%;
    z-index: 10;
}

header::before{
    position: absolute;
    top: 0;
    content: "";
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    height: 30%;
    width: 100%;
    background: var(--branco-puro);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

header .header{
    background: var(--verde-vivo);
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    height: 70px;
}

.navbar-subnav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

.navbar-subnav .navbar-subnav-content{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0 !important;
    position: relative;
    z-index: 1;
    
    
}

.navbar-subnav .navbar-subnav-content::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: -10px;
    background: var(--glass-bg);
    z-index: -1;
    clip-path: polygon(
        0% 5%,   /* Início da linha reta no topo */
        100% 5%, /* Final da linha reta no topo */
        95% 100%, /* Canto inferior direito */
        5% 100%, /* Canto inferior esquerdo */
        0% 5%    /* Fechamento da forma */
    );
}


.navbar-subnav .navbar-subnav-content .navbar-subnav-menu{
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
    height: 100%;
    padding: 0 3rem;
}

.navbar-subnav-menu .navbar-subnav-item{
    display: flex;
    align-items: center !important;
    gap: 0.5rem;
    width: auto;
    flex-wrap: nowrap !important; 
    border-radius: 2rem;
    justify-content: center;
    padding: 0.5rem 0.8rem;
    align-items: center;
    background: var(--glass-bg);
    transition: all 0.3s ease-in-out;
}

.navbar-subnav-menu .navbar-subnav-item:hover{
    background: linear-gradient(45deg, #3D9970, #FFA000);
    transform: scaleX(1.01);
}

.navbar-subnav-menu .navbar-subnav-item.active{
    background: linear-gradient(45deg, #3D9970, #FFA000);
    transform: scaleX(1.01);
}

.navbar-subnav-menu .navbar-subnav-item .navbar-subnav-link{
    display: flex;
    gap: 0.5rem;
    font-weight: bold;
    background: linear-gradient(45deg, white, white,white, #FFD700, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.navbar-subnav-menu .navbar-subnav-item:hover .navbar-subnav-link{
    font-weight: bold;
    background: linear-gradient(45deg, white, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-subnav-menu .navbar-subnav-item.active .navbar-subnav-link{
    font-weight: bold;
    background: linear-gradient(45deg, white, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-usuario{
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-usuario .navbar-usuario-nav{
    display: flex;
    height: 100%;
    margin: 1rem 0;
    gap: 1rem;
    align-items: center !important;
}

.navbar-usuario-nav .navbar-usuario-nav-item{
    background: var(--glass-bg);
    border-radius: 2rem;
    padding: 0.5rem 0.5rem !important;
    transition: all 0.3s ease-in-out;
}

.navbar-usuario-nav .navbar-usuario-nav-item:hover{
    background: linear-gradient(45deg, #3D9970, #FFA000);
    cursor: pointer;
    transform: scale(1.02);
}


.navbar-usuario-nav .navbar-usuario-nav-item .navbar-usuario-nav-link{
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center !important;
    gap: 0.5rem;
    color: white;
    font-weight: bold;
    background: linear-gradient(45deg, white, white,white, #FFD700, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.navbar-subnav-menu .navbar-subnav-item:hover .navbar-subnav-link{
    font-weight: bold;
    background: linear-gradient(45deg, white, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Scroll  */

.subnav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    z-index: 10;
}

.subnav::before{
    position: absolute;
    top: 0;
    content: "";
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    left: 0;
    height: 30%;
    width: 100%;
    background: var(--branco-puro);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.subnav .subnav-content{
   
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0 !important;
    position: relative;
    z-index: 1;
    
}


.subnav .subnav-content .subnav-menu{
    position: relative;
    /* background: #000; */
    background: var(--verde-vivo);
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}





#show-only-scroll-down{
    display: none;
}

#show-only-scroll-down.active{
    display: block;
}

#area-pesquisa{
    display: none;
}

#area-pesquisa.active{
    display: block;
}

#area-pesquisa.active + #area-navegacao{
    display: none;
}


.navbar-subnav ~ #area-pesquisa.active{
    flex: 1;
    display: none !important;
}

.navbar-search-wrapper{
    width: 550px !important;
    background: var(--glass-bg);
    border-radius: 2rem;
}


.navbar-search-input::placeholder, .navbar-search-input{
    color: white;
    outline: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.navbar-search-input:focus{
    outline: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

#menu-navegacao-mobile{
    display: none;
}

#menu-navegacao-mobile.active{
    display: flex;
}

.menu-navegacao-mobile{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    height: 100% !important;
    left: 0;
    background: var(--verde-vivo);
    display: flex;
    flex-direction: column;
}

.menu-navegacao-content {
    height: 100%;
    justify-content: start;
    display: flex;
    align-items: start;
    width: 100%;
    flex-direction: column;
}

.menu-navegacao-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.menu-navegacao-body{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.menu-navegacao-footer{

}

/* Navbar ========================================= */



/* Main */
.main-content{
    background: var(--glass-bg);
    height: 100%;
    width: 100%;
}

.hero {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background: var(--verde-vivo); */
    height: 415px;
    border-radius: 1rem;
    position: relative;
}

.hero .linkagro-anuncios{
    height: 415px;
    background: var(--verde-vivo/2);
    background-repeat: no-repeat;
    border-radius: 1rem;
    width: 100%;
    object-fit: fill;
    background-size: 100% 100%;
    background-position: left;
    background-attachment: fixed;
    z-index: -2 !important;
}


.sessao-area-pesquisa{
    width: 100%;
    z-index: 0;
}

.sessao-area-pesquisa .sessao-area-pesquisa-conteudo{
    border-radius: 1rem !important;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}


.card-categoria{
    /* position: relative; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.card-categoria .card-categoria-imagem {
    height: 155px;
    width: 100%;
    object-fit: fill;
}

.card-categoria .card-categoria-imagem img{
    height: 100%;
    width: 100%;
    border-radius: 5%;
    transition: all 0.3s ease-in-out;
}


.card-categoria:hover .card-categoria-imagem img{
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    transform: scale(1.01);
}


.card-categoria-conteudo{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}



.card-categoria .action {
    border-radius: 1.5rem;
    position: relative;
    width: 100%;
    z-index: 1;
    background: var(--verde-vivo);
    color: white !important;
    overflow: hidden; /* Impede que a animação saia do limite do botão */
    transition: color 0.3s ease, background 0.3s ease; /* Transições para cor e fundo */
}



.card-categoria .action::before {
    position: absolute;
    content: "";
    width: 0; /* Inicialmente a largura é 0 */
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
    border-radius: 1.5rem;
    transition: width 0.3s ease, background 0.3s ease; /* Transição de largura e fundo */
}



.card-categoria:hover .action::before {
    background: linear-gradient(45deg, #3D9970, #FFA000) !important; /* Cor do fundo ao passar o mouse */
    width: 100%; /* A largura vai até 100% durante o hover */
    animation: slide_btn_hover 0.3s forwards; /* Animação para o efeito de deslizamento */
}

/* Animação ao passar o mouse (efeito de deslizamento) */
@keyframes slide_btn_hover {
    0% {
        width: 0; /* Inicia com largura 0 */
    }
    100% {
        width: 100%; /* Alcança a largura completa */
    }
}

/* Animação de fechamento ao sair do hover */

.card-categoria:hover .action:not(:hover)::before {
    width: 0; /* A largura volta a 0 quando sai do hover */
    background: var(--verde-vivo); /* Cor inicial ao sair do hover */
    transition: width 0.3s ease, background 0.3s ease; /* Transição de largura e fundo */
}

/* Main =================================== */


/* Produtos por Categoria */
.sessao-banner-categoria{
    background-repeat: repeat;
    background-size: contain;
    background-position: center;
    border-radius: 1rem;
    height: 115px;
    position: relative;

}

.sessao-banner-categoria .sessao-banner-content{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sessao-banner-categoria .sessao-banner-content .sessao-banner-title{
    min-width: 50%;
    justify-content: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background: hsla(0, 0%, 0%, 0.5);
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
}

.card-subcategoria{
    /* background: #000; */
    height: 70px;
}


.card-subcategoria .card-subcategoria-imagem{
    position: relative;
    height: 70px;
}

.card-subcategoria .card-subcategoria-imagem img{
    height: 70px;
    border-radius: 1em;
    width: 100%;
    object-fit: fill;
}

.card-subcategoria .card-subcategoria-imagem .card-subcategoria-titulo{
    position: absolute;
    left: 0;
    bottom: 0;
    background: hsla(0, 0%, 0%, 0.5);
    border-radius: 1em;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}


.card-subcategoria .card-subcategoria-imagem .card-subcategoria-titulo span{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    background: linear-gradient(45deg, white, white,white, #FFD700, #FFD700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

/* Fim Produtos por categoria */


/* Variedades de produtos */
.sessao-variedades-produtos{
    position: relative;
}


.sessao-filtro{
    height: 100dvb;
    width: 100%;
}

/* Styling for buttons */
.btn-linkagro-filtro {
    background: var(--verde-vivo);
    color: #fff;
    border: none;
    padding: 0.5rem 0.8rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.btn-linkagro-filtro:hover {
    background: linear-gradient(45deg, #3D9970, #FFA000);
    background-position: right center;
}

.sessao-filtro .sessao-filtro-counteudo{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}


.sessao-variedades-produtos .sessao-conteudo{
    /* background: #1a0f14; */
    margin-left: 25%;
    height: 100%;
}



.card-variedade{
    width: 100%;
    height: 100% !important;
    overflow: hidden;
}


.card-variedade .card-variedade-imagem{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 200px;
}

.card-variedade .card-variedade-imagem img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}


.card-variedade .card-variedade-conteudo{
    display: block;
    left: 0;
    margin-top: -1.5rem;
}


.card-variedade .card-variedade-conteudo .card-variedade-mais-info{
    border-radius: 1rem;
    background: white;
    display: block;
    padding-top: 1.9rem;
    width: 100%;
    height: 100%;
    /* box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5); */
    color: black;
}

.card-variedade-titulo{
    font-weight: bold;
    background: var(--marrom-terra);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.text-primary{
    color: var(--verde-vivo) !important;
}


.card-variedade-mais-info .precos{
    font-weight: bold !important;
    color: var(--verde-vivo);
}


.card-variedade:hover .card-variedade-imagem img{
    transform: scale(1.03); 
    filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.5));
}

.card-variedade:hover .card-variedade-conteudo .card-variedade-mais-info{
    /* background: var(--verde-vivo); */
    /* transform: scale(1.03);  */
    /* filter: drop-shadow(-1px 2px 2px rgba(0, 0, 0, 0.5));
    z-index: -1; */
}

.card-variedade .card-variedade-conteudo .action{
    
}
/* Fim Variedade de produtos */



/* Footer */
footer{
    margin-top: 3rem;
    position: relative;
    width: 100%;
}

footer::before{
    content: "";
    position: absolute;
    left: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    bottom: 0;
    background: white;
    width: 100%;
    height: 50px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

footer .footer-widgets{
    
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    /* height: 70px; */
    position: relative;
}


.footer-top{
    background: white;
    height: 100%;
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    /* height: 70px; */
}

.footer-bottom{
    display: flex;
    /* position: absolute; */
    padding: 1rem;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    height: 100%;
    width: 100%;
    /* background: black; */
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); */
    
}

/* Fim Footer */


/* Noticias */
.noticia{
    text-align: center;
}

.noticia .capa-noticia{
    width: 100%;
    height: 215px;
    position: relative;
}

.noticia:hover .capa-noticia img{
    width: 100%;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    object-fit: fill;
    height: 100%;
    border-radius: 1rem;
    transform: scale(1.01);
}


.noticia .capa-noticia img{
    width: 100%;
    object-fit: fill;
    height: 100%;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}

.noticia .saiba-mais{
    position: absolute;
    left: 0.5rem;
    bottom: 0.8rem;
}

.noticia .saiba-mais .noticia-action {
    border-radius: 1rem;
    position: relative;
    z-index: 1;
    color: white !important;
    overflow: hidden; /* Impede que a animação saia do limite do botão */
    transition: color 0.3s ease, background 0.3s ease; /* Transições para cor e fundo */
}

.noticia .saiba-mais .noticia-action::before {
    position: absolute;
    content: "";
    width: 0; /* Inicialmente a largura é 0 */
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--verde-vivo);
    z-index: -1; 
    border-radius: 1rem;
    transition: width 0.3s ease, background 0.3s ease; /* Transição de largura e fundo */
}



.noticia:hover .saiba-mais .noticia-action::before {
    background: linear-gradient(45deg, #3D9970, #FFA000) !important; /* Cor do fundo ao passar o mouse */
    width: 100%; /* A largura vai até 100% durante o hover */
    animation: slide_btn_hover 0.3s forwards; /* Animação para o efeito de deslizamento */
}

/* Animação ao passar o mouse (efeito de deslizamento) */
@keyframes slide_btn_hover {
    0% {
        width: 0; /* Inicia com largura 0 */
    }
    100% {
        width: 100%; /* Alcança a largura completa */
    }
}

/* Animação de fechamento ao sair do hover */
.noticia:not(:hover) .saiba-mais .noticia-action::before {
    width: 100%; /* A largura volta a 0 quando sai do hover */
    background: var(--verde-vivo); /* Cor inicial ao sair do hover */
    transition: width 0.3s ease, background 0.3s ease; /* Transição de largura e fundo */
}


.noticia .titulo-noticia{
    transition: all 0.3s ease-in-out;
}

.noticia .titulo-noticia p{
    /* border: 1px solid var(--verde-vivo); */
    margin: 0;
    padding: 0;
    color: var(--preto-fundo);
    font-style: italic;
    text-transform: capitalize;
}

.noticia .titulo-noticia span{
    color: #6D4C41;
    font-size: 2rem;
    font-weight: bold;
    font-style: oblique;
}

.noticia .titulo-noticia{
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.noticia:hover .titulo-noticia{
    transform: scale(1.01);
    filter: var(--amarelo-destaque);
}

/* Fim Noticias */

/* Configurar casos de busca de dados  */
.message-container {
    text-align: center;
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
   
}



.message-container h1 {
    color: var(--preto-fundo);
    font-size: 2.5rem;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-out;
}

.message-container p {
    color: #666;
    font-size: 1.2rem;
    margin-bottom: 30px;
    animation: fadeIn 2s ease-out 0.5s;
}

.drawer-container {
    position: relative;
    margin: 30px auto;
    width: 150px;
    height: 100px;
    background-color: var(--glass-bg);
    border-radius: 8px;
    border: 0.01px solid var(--vermelho-tomate);
    overflow: hidden;
    animation: drawerShake 2s ease-out;
}

.drawer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--verde-vivo);
    transition: all 0.5s ease-out;
    transform-origin: top center;
    border-radius: 8px;
}

.drawer.open {
    transform: translateY(-70%);
}

.drawer:before {
    content: "🔓";
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.empty-msg {
    font-size: 1.2rem;
    color: var(--vermelho-tomate);
    opacity: 0;
    animation: fadeInOut 4s ease-out 1.5s forwards;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes drawerShake {
    0%, 100% { transform: rotate(0); }
    25% { transform: rotate(-2deg); }
    50% { transform: rotate(2deg); }
    75% { transform: rotate(-2deg); }
}



/* ================================== Casos de busca de dadsos ========================== */


/* produtos da categoria */
.card-filtro{
    position: relative;
}


.card-filtro .card-filtro-header{
    background: var(--verde-vivo);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-primary{
    color: var(--verde-vivo) !important;
}


.card-filtro .card-filtro-header{
    background: var(--verde-vivo);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-filtro .card-filtro-header.activo ~ .card-filtro-body{
    display: none;
}

.card-filtro .card-filtro-body{
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.card-lista-produtos-footer{
    display: flex;
    justify-content: center;
}


/* Estilo do botão com pulsar constante */


.btn.btn-continuar-vendo-itens {
    border-radius: 50%;
    background: var(--verde-vivo);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
    animation: pulsar 1.5s infinite; /* Aplica a animação de pulsar */
    transition: transform 0.2s, opacity 0.2s, background 0.2s; /* Transições suaves */
}

/* Animação de pulsar */
@keyframes pulsar {
    0% {
        transform: scale(1); /* Tamanho normal */
        opacity: 1; /* Opacidade normal */
    }
    50% {
        transform: scale(1.1); /* Aumenta o tamanho */
        opacity: 0.8; /* Diminui a opacidade */
    }
    100% {
        transform: scale(1); /* Retorna ao tamanho normal */
        opacity: 1; /* Retorna a opacidade normal */
    }
}

/* Efeito ao passar o mouse (hover) */
.btn.btn-continuar-vendo-itens:hover {
    animation: none; /* Desativa a animação de pulsar */
    transform: scale(1.05); /* Aumenta o tamanho levemente */
    background: #008C43; /* Muda a cor de fundo ao passar o mouse */
    color: white;
}

/* Efeito de explosão no clique */
.btn.btn-continuar-vendo-itens:active {
    animation: explosao 0.4s ease-out; /* Animação de explosão */
    background: var(--amarelo-destaque); /* Cor explosiva */
    transform: scale(1.3); /* Aumenta o tamanho rapidamente */
    color: white;
}

/* Animação de explosão */
@keyframes explosao {
    0% {
        transform: scale(1); /* Começa com o tamanho original */
        opacity: 1;
    }
    50% {
        transform: scale(1.4); /* Expande rapidamente */
        opacity: 0.6;
    }
    100% {
        transform: scale(1); /* Retorna ao tamanho normal */
        opacity: 1;
    }
}


/* Fim produtos da categoria */





/* Configurar menu filtros */
.card-menu{
    background: white;
    width: 100%;
    border-radius: 1rem;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.card-menu .card-menu-header{
    background: var(--verde-vivo);
    border-radius: 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem;
    cursor: pointer;
}

.card-menu .card-menu-header.active ~ .menu-filtro{
    display: block;
    height: 100%;
}

.card-menu .card-menu-header span{
    transition: all 0.5s ease;
    margin-right: 0.5rem;
}

.card-menu .card-menu-header.active span{
    transform: rotate(90deg);
}

.menu-filtro{
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
    display: none;
    transition: height 0.5s ease;
}

.menu-filtro .menu-filtro-item{
    
    margin-bottom: 0.2rem; 
    padding: 0;
}



.menu-filtro .menu-filtro-item .menu-filtro-titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    border-radius: 2rem;
    font-weight: bold;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
    color: var(--preto-fundo);
    text-transform: capitalize;

}

.menu-filtro .menu-filtro-item .menu-filtro-titulo::before{
    content: "";
    position: absolute;
    top: 50;
    left: 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 5px;
    height: 0;
    transition: all 0.5s ease;
}

.menu-filtro .menu-filtro-item .menu-filtro-titulo:hover::before , 
.menu-filtro .menu-filtro-item .menu-filtro-titulo.active::before {
    content: "";
    background: var(--verde-vivo);
    height: 80%;

}



.menu-filtro .menu-filtro-item .menu-filtro-titulo .angle{
    font-size: 10px;
    position: relative;
    transition: transform 0.5s ease;
}


.menu-filtro .menu-filtro-item .menu-filtro-titulo.active .angle{
    transform: rotate(90deg);
}



.menu-filtro .menu-filtro-item .submenu-filtro{
    list-style: none;
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    padding-left: 1rem;
    transition: all 0.5s ease;
    opacity: 0;
    display: none;
}

.menu-filtro .menu-filtro-item .menu-filtro-titulo.active ~ .submenu-filtro{
    position: relative;
    opacity: 1;
    display: block;
}

.menu-filtro .menu-filtro-item .submenu-filtro .submenu-filtro-item{
   position: relative;
   display: flex;
   gap: 1rem;
   margin-bottom: 0.5rem;
}

.menu-filtro .menu-filtro-item .submenu-filtro .submenu-filtro-item::before{
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   border-radius: 1rem;
   height: 5px;
   width: 5%;
   background: var(--preto-fundo);
}


.menu-filtro .menu-filtro-item .submenu-filtro .submenu-filtro-item .submenu-filtro-link{
    color: #6D4C41;
    text-transform: capitalize;
    padding-left: 0.3rem;
}


/* Fim configuracao de menu filtros */


/* Configurar anuncios */
.card-anuncio{
    height: 315px;
    padding: 0.5rem;
    width: 100%;
}


.anuncio-content{
    height: 100%;
    border-radius: 1rem;
    width: 100%;
}

.anuncio-content .anuncio-items{
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 1rem;
}

.anuncio-content .anuncio-items img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 1rem;
}


.loading-spinner{
    height: 50vh;
    display: none;
    align-items: center;
    justify-content: center;
    transition: display 0.5s ease;
}

.loading-spinner.active{
    display: flex;
}

#variedades-container{
    display: grid;
    transition: display 0.5s ease;
}

.loading-spinner.active ~ #variedades-container {
    display: none;
}

.loading-spinner.active ~ #variedades-container{
    display: none;
}

.page-linkagro{
    display: none;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.page-linkagro.active{
    display: flex;
}


#loading-spinner.active ~ .page-linkagro{
    display: none
}


.loading-page{
    z-index: 9999;
    height: 100vh;
    width: 100%;
    background: var(--verde-vivo);
    position: absolute;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.loading-page.active{
    display: flex;
}

.loading-page.active ~ footer, .loading-page.active ~ header{
    display: none !important;
}


.loading-page.active ~ .main-content{
    display: none !important;
}


/* Fim configuracao de anuncios */

/* Produtor */

.produtor{
    display: flex;
    gap: 1rem;
}

.produtor img{
    width: 50px;
    height: 50px;
    border-radius: 2rem;
}


/*  */
.ver-opcoes-avancadas:hover{
    text-decoration: underline;

}

.ver-opcoes-avancadas{
    transition: all 0.5s ease;
    cursor: pointer;
    
}

.ver-opcoes-avancadas.active ~ .aplicar-opcoes-avancadas {
    display: block !important;
}


.ver-opcoes-avancadas ~ .aplicar-opcoes-avancadas {
    transition: all 0.5s ease;
}



/*  */